ws-project/src/main/webapp/WEB-INF/user.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://banorte.com/securityws/domain" 
xmlns:tns="http://banorte.com/securityws/domain" elementFormDefault="qualified">

	<element name="getUserResponse">
		<complexType>
			<sequence>
				<element name="result" type="boolean"/>
			</sequence>
		</complexType>
	</element>
	
    <element name="getUserRequest">
	    <complexType>
	    	<sequence>
	    		<element name="userName" type="string"></element>
	    		<element name="password" type="string"></element>
	    	</sequence>
	    </complexType>
	</element>
</schema>